@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
  background-color: #ebf2f7;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}